.profile-pic {
  background-color: rgb(238, 238, 238);
  min-height: 13rem;
}

.chat-toolbar {
  background-color: purple;
  text-align: center;
}

.list-item:hover {
  background-color: purple;
}

.msg-area {
}
