.profile-pic {
  background-color: rgb(238, 238, 238);
  min-height: 13rem;
}

.chat-toolbar {
  background-color: purple;
  text-align: center;
}

.list-item:hover {
  background-color: purple;
}

.msg-area {
  position: fixed;
  bottom: 0;
  width: calc(100% - 200px);
  height: 20%;
  padding: 0 10px;
  margin: 10px 10px;
}

.chat-area {
  /* color: black;
  position: fixed;
  bottom: 200px; */
  width: calc(100% - 200px);
  height: 20%;
  padding: 0 10px;
  margin: 10px 10px;
}

.messages-container {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
}
