.profile-pic {
  background-color: rgb(238, 238, 238);
  min-height: 13rem;
}

.appbar {
  z-index: 100;
}

.username {
  display: flex;
  text-align: end;
}

.message-area {
  position: fixed;
  bottom: 0;
  width: inherit;
  margin-bottom: 20px;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  resize: none;
}

.message-area-container {   
 position: fixed;
 bottom: 0;
 height: 100px;
 width: calc(100vw - 360px);
 z-index: 1;
 background-color: white;
 display: flex;
 align-items: center;
}

.greetings {
  position: fixed;
  bottom: 0;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 240px;
}

.side-navigation {
  height: 100%;  
  width: 100px;  
  background-color: gray;    
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.side-navigation-item {
  display: flex;
  flex-direction: column;

}

.main-sidebar {
  

}

.sidebar-container {
  display: flex;
  justify-content: space-between;
}

.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
  overflow: unset;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: green;
}

@media screen and (max-width: 600px) {
  
  .message-area-container { 
  width: 90vw;

  }
}