.channel-list {
  overflow-y: scroll;
}

.channel-list::-webkit-scrollbar {
  width: 5px;    
}

.channel-list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 7.5px;  
}

body::-webkit-scrollbar {
  background-color: gray;
  border-radius: 5px;
}

.appbar {
  z-index: 100;
}

.username {
  display: flex;
  text-align: end;
}

.message-area {
  position: fixed;
  bottom: 0;
  width: inherit;
  margin-bottom: 20px;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  resize: none;
}

.message-area-container {   
 position: fixed;
 bottom: 0;
 height: 100px;
 width: calc(100vw - 750px);
 z-index: 1;
 background-color: white;
 display: flex;
 align-items: center;
}

.greetings {
  position: fixed;
  bottom: 0;
  padding-bottom: 100px;  
  padding-right: 240px;
}

.side-navigation {
  height: calc(100% - 60px);  
  width: 100px;  
  background-color: gray;    
  display: flex;  
  flex-direction: column;
  align-items: center;
  position: fixed;
  justify-content: space-between;  
}

.side-navigation-item {
  display: flex;
  flex-direction: column;
}

.main-sidebar {
  margin-left: 120px;
}

.sidebar-container {
  display: flex;
  justify-content: space-between;
}

.right-side-bar {  
  position: relative;
  z-index: 0;
}

.sign-out-button {
  /* style={{fontSize:"0.75rem", paddingBottom: '10px'}}>  */
  font-size: 0.75rem;
  transform: translateY(-10px);
}

.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root {
  overflow: unset;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: green;
}

@media screen and (max-width: 600px) {
  
  .message-area-container { 
  width: 90vw;

  }
}