.failed {
    color: red;
    display: flex;
    justify-content: center;
}

.success {
    color: green;
    display: flex;
    justify-content: center;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    height: 100vh;     
}

.heading-container {
    display: flex;
    flex-direction: column;
    
    padding-top: 10rem;
    align-items: center;  
}

.heading {
    font-size: 4rem;    
}

.website {
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    .heading-container {
        padding-top: 2.5rem;
    }
}

